.oder {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem {
        left: 0;
    }
    border-radius: $border-radius;
    .oder_status-secondary {
        padding: 0.5rem 1rem;
        border: 1px solid #d3d6d8;
        border-radius: 10px;
        color: #41464b;
        font-weight: 600;
        background: #e2e3e5;
        display: inline;
    }
    .oder_status-success {
        padding: 0.5rem 1rem;
        border: 1px solid #badbcc;
        border-radius: 10px;
        color: #1b744a;
        font-weight: 600;
        background: #d1e7dd;
        display: inline;
    }
    .oder_status-danger {
        padding: 0.5rem 1rem;
        border: 1px solid #f5c2c7;
        border-radius: 10px;
        color: #842029;
        font-weight: 600;
        background: #f8d7da;
        display: inline;
    }
    td {
        vertical-align: middle;
    }
}
