
//hero
#hero {
  background-image: url(https://cdn.boo.vn/banner/8qo4c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  height: 100vh;
  width: 100%;
  padding: 0 80px;
  position: relative;
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    transition: 0.3s linear;
    &:hover {
      color: rgb(51, 51, 51);
      background-color: #fff;
    }
  }
}

// product

#product1 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.product {
  text-align: center;
  h2 {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    color: tomato;
  }
  p {
    font-size: 20px;
    color: rgb(141, 141, 141);
  }
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &_item {
      width: 23%;
      min-height: 250px;
      padding: 10px 12px;
      border: 1px solid #cce7d0;
      border-radius: 25px;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
      margin: 15px 0;
      transition: 0.2 ease;
      background: #fff;
      &_img {
        position: relative;
        width: 100%;
        img {
          opacity: 1;
          display: block;
          width: 100%;
          height: auto;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }
        .middle {
          transition: 0.5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }
        a {
          text-decoration: none;
          background-color: tomato;
          color: white;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 20px;
          border-radius: 10px;
        }
      }
      &:hover img {
        opacity: 0.7;
      }

      &:hover .middle {
        opacity: 1;
      }
      &:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
      }
      &_title {
        h4 {
          text-align: left;
          margin: 10px 0 20px 0;
        }
        &_bottom {
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h4 {
            font-weight: bold;
            color: tomato;
          }
          a {
            text-decoration: none;
            background-color: rgba(255, 99, 71, 0.212);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
            i {
              color: tomato;
            }
            &:hover i {
              color: #fff;
            }
            &:hover {
              background-color: tomato;
            }
          }
        }
      }
    }
  }
}

// banner
.banner {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border-radius: 10px;
    width: auto;
    height: auto;
  }
  &_text {
    flex: 1;
    text-align: center;
    h3 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 900;
      span {
        color: tomato;
      }
    }
    p {
      color: rgb(70, 70, 70);
      padding: 0 40px;
    }
    button {
      margin-top: 25px;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 16px;
      border-radius: 10px;
      border: 1px solid rgb(51, 51, 51);
      background-color: rgb(51, 51, 51);
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: #fff;
        color: rgb(51, 51, 51);
      }
    }
  }
}