.admin_home {
    background-color: #fff;
    padding: 20px;
    border-radius: $border-radius;
    margin: 1rem;
    &_title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: unset;
        &:hover {
            color: #fff;
        }
    }
}