.image-container {
    background-image: url("http://file.hstatic.net/1000088324/collection/1920x720__4__fa9d5b16e2ef4bc892d48689631572e1.png");
    background-size: cover;
    position: relative;
    height: 300px;
    .text {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
        font-size: 5vw;
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        width: 40%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
    }
}

.product_search {
    text-align: center;
    margin: 2rem 0;

    position: relative;
    button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: tomato;
        background-color: transparent;

        border: 1px solid tomato;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
            background-color: tomato;
            color: #fff;
            transform: translateY(-10px);
        }
    }
}
